<nav class="col-md-2 d-none d-md-block bg-white sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sample">Sample</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" routerLink="song">Songs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="patients">Patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="parameter">Parameter</a>
      </li>
    </ul>
  </div>
</nav>
